<!DOCTYPE html>
<html>

<head>
    <title>Flask application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <style>
        body {
            background: rgba(15, 136, 250, 0.884);
            background: -webkit-linear-gradient(to right, rgba(15, 136, 250, 0.884), rgba(34, 255, 134, 0.8));
            background: linear-gradient(to right, rgba(15, 136, 250, 0.884), rgba(34, 255, 134, 0.8));
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>A Simple Flask Application for GCI 17</h1>
        </div>
        <hr/>
        <br/>
        <form action="/result" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Please enter your name" />
                <br/>
                <input class="btn btn-block btn-success" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</body>

</html>