<!DOCTYPE html>
<html>
<head>
<title>User Greeting!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="{{ url_for('static', filename='img/icon.gif') }}">
</head>
<body>
<h1>Enter your name!</h1>
  <form action="/greeting" method="POST" class="form-style-4">
      <div class="form-group">
          <input type="text" name="name" placeholder="Please enter your name" />
          <input type="submit" value="Submit" />
      </div>
  </form>
</body>
</html>
