<!DOCTYPE html>
<html>
<head>
  <title>Simple Flask Form</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="center row grey lighten-2">
  <div class="row"></div>
  <div class="row"></div>
  <h2>Simple Flask Form</h2>
  <form class="col s10 offset-s1 m4 offset-m4" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" required>
        <label for="name">Name</label>
      </div>
      <input type="submit" value="Submit"/>
    </div>
  </form>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card-panel">
        <span>Made with <i class="material-icons red-text" style="vertical-align:bottom;">favorite</i> for <a href="https://fossasia.org">FOSSASIA</a> during Google Code-in</span>
      </div>
    </div>
  </div>
</body>
</html> 
