<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>My Weather App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body background="static/weatherbg.jpg" style="background-repeat:false; background-size: 100%;">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<br>
	<h1 style="font-family:Helvetica;font-size: 30px;color: Black;font-style: bold;margin-left: 10%;">Check the Temperature of your City</h1>
	<form class="form-inline" method='POST' action='\' style="margin-left:10%"> 
			  <div class="form-group mx-sm-3 mb-2">
			    <input type="text" class="form-control" name="addloc" id="inputPassword2" placeholder="Enter your Address">
			  </div>
			  <button type="submit" class="btn btn-primary mb-2">Search</button>  
	</form>
	<br>
	<br>
	<p style="color: white;font-size: 60px;margin-left: 10%">
	{% if answer %}
		{{answer}}<sup>o</sup>C
	{% endif %}
	</p>
</body>
</html>




